.ui-header {
  background: #012f77;
  padding: 0px 33px;
  width: 100%;
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.btn {
  width: 179px;
  height: 44px;
  border-radius: 4px;
  box-shadow: none;
  font-size: 12px;
}

.btn-disabled {
  background-color: #f6f6f6;
  color: #7695A2 !important;

}

.btn-primario {
  background-color: #e05c46;
  color: #fff;

}

.btn-primario:hover,
.btn-primario:focus {
  background-color: #d82103;
}


.btn-secundario {
  background-color: #fff;
  border: solid 1px #c1c1c1;
  color: #73767b;
}

.btn-secundario:hover {
  background-color: #012f77;
  color: #fff;
}

.btn-secundario:focus {
  border: solid 1px #012f77;
  background-color: #fff;
  color: #012f77;
}


.btn-group {
  button {
    border: 1px solid #7d94b9;
    color: #012f77;
  }

  button:hover {
    background-color: #012f77;
    color: #fff;
    border: 1px solid #7d94b9;
  }



  // date picker
  .MuiFormControl-root {

    .MuiInput-root {
      border: 1px solid;
    }
  }

  .MuiFormControl-marginNormal {
    margin-top: 0px;
    margin-bottom: 0px;


  }

  .MuiInputBase-input {
    width: auto !important;
  }
}